 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1507px;
}

.u-section-1 .u-shape-1 {
  width: 258px;
  height: 258px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 34px;
}

.u-section-1 .u-image-1 {
  width: 885px;
  height: 885px;
  background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/4018189/images/80.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -231px 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 739px;
  height: 739px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -313px auto 0 67px;
}

.u-section-1 .u-group-1 {
  width: 493px;
  min-height: 521px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -630px auto 0 190px;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 32px 0 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: none;
  font-weight: 700;
  margin: 34px auto 0;
  padding: 14px 55px 15px 53px;
}

.u-section-1 .u-shape-3 {
  width: 175px;
  height: 175px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -126px 0 121px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 207px;
    height: 207px;
  }

  .u-section-1 .u-image-1 {
    width: 818px;
    height: 818px;
    margin-top: -112px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -314px;
    margin-left: 34px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 157px;
    height: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-bottom: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1612px;
  }

  .u-section-1 .u-shape-1 {
    width: 180px;
    height: 180px;
  }

  .u-section-1 .u-image-1 {
    width: 658px;
    height: 658px;
    margin-top: -23px;
  }

  .u-section-1 .u-shape-2 {
    width: 720px;
    height: 720px;
    margin-top: -216px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: -620px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 79px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1594px;
  }

  .u-section-1 .u-shape-1 {
    width: 157px;
    height: 157px;
  }

  .u-section-1 .u-image-1 {
    width: 506px;
    height: 506px;
    margin-top: 34px;
  }

  .u-section-1 .u-shape-2 {
    width: 691px;
    height: 691px;
    margin-top: -98px;
    margin-left: -76px;
    margin-right: -76px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -606px;
  }

  .u-section-1 .u-shape-3 {
    width: 162px;
    height: 162px;
    margin-top: 98px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1428px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-shape-2 {
    width: 570px;
    height: 570px;
    margin-top: 34px;
    margin-left: -115px;
    margin-right: -115px;
  }

  .u-section-1 .u-group-1 {
    min-height: 410px;
    margin-top: -501px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-shape-3 {
    width: 140px;
    height: 140px;
    margin-top: 123px;
    margin-bottom: 59px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 708px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 312px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 2.2;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 41px 0 0;
}

.u-section-2 .u-shape-1 {
  width: 115px;
  height: 115px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 86px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 112px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1137px;
}

.u-section-3 .u-shape-1 {
  width: 228px;
  height: 228px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px 114px 0 auto;
}

.u-section-3 .u-image-1 {
  width: 607px;
  height: 607px;
  background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/4018189/images/smiling-athlete-1.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -215px auto 0 88px;
}

.u-section-3 .u-shape-2 {
  width: 117px;
  height: 117px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -129px auto 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 877px;
  margin: -97px 0 60px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 498px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: none;
  font-weight: 700;
  margin: 34px auto 0;
  padding: 14px 55px 15px 53px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 498px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  line-height: 2.7;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    margin-top: 57px;
    margin-right: 34px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -200px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 759px;
    margin-bottom: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1590px;
  }

  .u-section-3 .u-shape-1 {
    width: 168px;
    height: 168px;
    margin-top: 55px;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 573px;
    height: 573px;
    margin-top: -105px;
    margin-left: 54px;
  }

  .u-section-3 .u-shape-2 {
    width: 143px;
    height: 143px;
    margin-top: -72px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 474px;
    margin-top: -198px;
    margin-bottom: 55px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 485px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1550px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 105px;
    height: 105px;
    margin-top: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 411px;
    margin-top: -197px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 434px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 470px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1613px;
  }

  .u-section-3 .u-shape-1 {
    width: 110px;
    height: 109px;
    margin-right: 2px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -12px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -7px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 46px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 952px;
}

.u-section-4 .u-text-1 {
  width: 844px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 299px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-image-1 {
  height: 238px;
  width: 238px;
  background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/4018189/images/uy6.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 236px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin: 0;
}

.u-section-4 .u-text-3 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 299px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px;
}

.u-section-4 .u-image-2 {
  height: 238px;
  width: 238px;
  background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/4018189/images/yt.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 298px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 29px;
}

.u-section-4 .u-text-4 {
  margin: 0 2px 0 0;
}

.u-section-4 .u-text-5 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px 2px 0 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 259px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  margin: 0;
}

.u-section-4 .u-text-7 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 285px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px;
}

.u-section-4 .u-image-3 {
  height: 221px;
  width: 221px;
  background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/4018189/images/5-min.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 214px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-text-8 {
  margin: 0;
}

.u-section-4 .u-text-9 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-8 {
  min-height: 309px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-8 {
  padding: 20px;
}

.u-section-4 .u-image-4 {
  height: 238px;
  width: 238px;
  background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/4018189/images/445.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-10 {
  font-style: italic;
  line-height: 1.6;
  width: 383px;
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 20px auto 60px;
}

.u-section-4 .u-btn-1 {
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 846px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 247px;
  }

  .u-section-4 .u-image-1 {
    height: 195px;
    width: 195px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 195px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 247px;
  }

  .u-section-4 .u-image-2 {
    height: 195px;
    width: 195px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 246px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 214px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 235px;
  }

  .u-section-4 .u-image-3 {
    height: 195px;
    width: 195px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 176px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 255px;
  }

  .u-section-4 .u-image-4 {
    height: 195px;
    width: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-4 .u-text-1 {
    width: 720px;
    font-size: 3rem;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 189px;
  }

  .u-section-4 .u-image-1 {
    height: 140px;
    width: 140px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-4 .u-image-2 {
    height: 140px;
    width: 140px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 180px;
  }

  .u-section-4 .u-image-3 {
    height: 140px;
    width: 140px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 195px;
  }

  .u-section-4 .u-image-4 {
    height: 140px;
    width: 140px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2803px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 400px;
    width: 400px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 567px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 400px;
    width: 400px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
  }

  .u-section-4 .u-text-5 {
    width: auto;
  }

  .u-section-4 .u-layout-cell-5 {
    order: 1;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
  }

  .u-section-4 .u-text-7 {
    width: auto;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 540px;
    order: 0;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 400px;
    width: 400px;
  }

  .u-section-4 .u-layout-cell-7 {
    order: 3;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
  }

  .u-section-4 .u-text-9 {
    width: auto;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 585px;
    order: 2;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    height: 400px;
    width: 400px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1966px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 357px;
  }

  .u-section-4 .u-image-1 {
    height: 320px;
    width: 320px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 357px;
  }

  .u-section-4 .u-image-2 {
    height: 320px;
    width: 320px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 340px;
  }

  .u-section-4 .u-image-3 {
    height: 320px;
    width: 320px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 368px;
  }

  .u-section-4 .u-image-4 {
    height: 320px;
    width: 320px;
  }

  .u-section-4 .u-text-10 {
    width: 340px;
  }
} .u-section-5 {
  min-height: 753px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 780px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  line-height: 1.6;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  font-style: italic;
  padding: 0;
}

.u-section-5 .u-text-3 {
  line-height: 2.2;
  margin: 30px 0 0;
}

.u-section-5 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 14px 55px 15px 53px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 403px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 30px 60px;
}

.u-section-5 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
}

.u-section-5 .u-text-5 {
  font-size: 11.25rem;
  line-height: 0.8;
  margin: 15px 0 0;
}

.u-section-5 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  margin: 36px 62px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 377px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-5 .u-text-7 {
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
}

.u-section-5 .u-text-8 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-btn-3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 14px 54px 15px 52px;
}

.u-section-5 .u-image-1 {
  min-height: 780px;
  background-image: url("images/gffg.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 616px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 643px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 332px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-5 .u-text-5 {
    font-size: 7.5rem;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.25rem;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 311px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    min-height: 643px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 812px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    min-height: 739px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1182px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-text-5 {
    font-size: 6rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-image-1 {
    min-height: 1109px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 771px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-5 {
    font-size: 7.5rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    min-height: 698px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1292px;
}

.u-section-6 .u-shape-1 {
  width: 246px;
  height: 246px;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 67px 0 auto;
}

.u-section-6 .u-image-1 {
  width: 731px;
  height: 731px;
  background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/4018189/images/5-min.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -246px auto 0 32px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1002px;
  margin: -195px 0 0 auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 581px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: 0 auto;
}

.u-section-6 .u-form-1 {
  height: 415px;
  margin-top: 33px;
  margin-bottom: 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding: 17px 0 19px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 581px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-list-1 {
  width: 459px;
  margin: 0 -9px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 387px;
  grid-gap: 0px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 30px 15px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-6 .u-icon-1 {
  vertical-align: 0px;
}

.u-section-6 .u-text-3 {
  margin: 20px 1px 0 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px 30px 15px;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-6 .u-icon-2 {
  vertical-align: 0px;
}

.u-section-6 .u-text-5 {
  margin: 20px 1px 0 0;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-5 {
  padding: 20px 30px 15px;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-6 .u-icon-3 {
  vertical-align: 0px;
}

.u-section-6 .u-text-7 {
  margin: 20px 1px 0 0;
}

.u-section-6 .u-text-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-shape-2 {
  width: 168px;
  height: 168px;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: -1074px auto 966px 32px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1256px;
  }

  .u-section-6 .u-shape-1 {
    width: 218px;
    height: 218px;
    margin-right: 30px;
  }

  .u-section-6 .u-image-1 {
    width: 695px;
    height: 695px;
    margin-top: -158px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 852px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 574px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 545px;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-6 .u-image-1 {
    margin-left: 25px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1675px;
  }

  .u-section-6 .u-shape-1 {
    width: 184px;
    height: 184px;
    margin-top: 55px;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: -116px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -110px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-shape-2 {
    width: 140px;
    height: 140px;
    margin-top: -1521px;
    margin-bottom: 1436px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1522px;
  }

  .u-section-6 .u-shape-1 {
    width: 139px;
    height: 139px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -81px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-shape-2 {
    width: 94px;
    height: 94px;
    margin-top: -1354px;
    margin-bottom: 1315px;
  }
}